.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 30px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}