<div class="home-container">
  <mat-card class="home-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Welcome Angular Calendar</mat-card-title>
      <mat-card-subtitle>Sergii Petrychenko</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        This is simple Calendar where you can make, update and delete appointments
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="/calendar">
        <button mat-button class="nav-btn">Go to Calendar</button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>